* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
	height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  align-items: center; 
  justify-content: center;
}

.card {
  background-color: white;
  height: 65%;
  width: 65%;
  border-radius: 2rem;
  display: flex;
  overflow: hidden;
}

section {
  flex: 1;
}

.main-image {
  position: relative;
  z-index: 50;
  top: 60px;
  left: -80px;
}

.box-image {
  position: absolute;
  z-index: 99;
  top: 330px;
  left: 160px;
}

.bg-pattern {
  position: relative;
  width: 200%;
  bottom: 645px;
  left: -545px;
}

#faq {
  align-self: center;
  padding-right: 10%;
}

h3 {
  font-size: 2rem;
  color: hsl(238, 29%, 16%);
  margin-bottom: 10%;
}

ul {
  list-style: none;
}

#faq-questions button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: hsl(237, 12%, 33%);
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: .8rem;
  border: none;
  background: transparent;
}
#faq-questions button:hover {
  color: hsl(14, 88%, 65%);
}
#faq-questions button::after {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; 
}

#faq-question button.active:after{
  display: block;
  background-image: url(../images/icon-arrow-down.svg);
}

.acc-item-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

p {
  color: hsl(240, 6%, 50%);
  margin-bottom: .8rem;
  font-size: 0.8rem;
}

hr {
  color: hsl(240, 5%, 91%);
  margin-bottom: .8rem;
}